Package: awx
Version: {{ awx_version }}-{{ build_timestamp }}
Architecture: amd64
Section: extra
Priority: optional
Depends: adduser, python3-pip, git, libxml2-dev, libsasl2-dev, python3-dev, libldap2-dev, libssl-dev, swig, libxml2, libxmlsec1-dev, swig
Maintainer: Philipp Dittert <pd@techdivision.com>
Description: Debian AWX package
