Package: awx
Version: {{ awx_version }}-{{ build_timestamp }}
Architecture: amd64
Section: extra
Priority: optional
Depends: adduser, git, swig, libxml2, swig, pkg-config, supervisor, python3-distutils | python3-distutils-extra, python3-dev, libxmlsec1-openssl
Maintainer: Philipp Dittert <pd@techdivision.com>
Description: Debian AWX package
