import os
import platform

os.environ['DATABASE_NAME'] = 'awx'
os.environ['DATABASE_USER'] = 'awx'
os.environ['DATABASE_PASSWORD'] = ''
os.environ['DATABASE_HOST'] = 'localhost'
os.environ['DATABASE_PORT'] = '5432'

os.environ['RABBITMQ_USER'] = 'guest'
os.environ['RABBITMQ_PASSWORD'] = 'guest'
os.environ['RABBITMQ_HOST'] = 'localhost'
os.environ['RABBITMQ_PORT'] = '5672'
os.environ['RABBITMQ_VHOST'] = '%2F'

os.environ['MEMCACHED_HOST'] = 'localhost'
os.environ['MEMCACHED_PORT'] = '11211'

os.environ['EMAIL_HOST'] = 'localhost'
os.environ['EMAIL_PORT'] = '25'
os.environ['EMAIL_HOST_USER'] = ''
os.environ['EMAIL_HOST_PASSWORD'] = ''
os.environ['EMAIL_USE_TLS'] = 'false'
