[Unit]
Description=AWX Dispatcher
After=syslog.target network.target

[Service]
User={{ awx_user }}
Group={{ awx_group }}
Environment=AWX_SETTINGS_FILE={{ awx_settings_file }}
ExecStart=/usr/local/bin/awx-manage run_dispatcher
KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
